

html, body {
    --button-search-background: #f8f9fa;
    --hover-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    --font-color: rgb(60, 64, 67);
    display: flex;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(60, 64, 67); 
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    padding: 0, 20px, 0, 20px;
    color: inherit;
}


a:hover {
    text-decoration: underline;
    
}

header{
    top:0;
    width: 100%;
    flex-direction: row;
    position: fixed;
    z-index: 1;
}





nav {
    display: flex;
    min-height: 50px;
    align-items: center;

    
}


nav div {
    display: flex;
    width: 50%;
    align-items: center;
}

nav div a {
    padding: 10px;
}


nav .header-left {
    justify-content: flex-start;
    width: 45%;
    margin-left: 20px;
}
nav .header-right {
    text-align: right;
    width: 50%;
    justify-content: flex-end;
    margin-right: 20px;
    right: 0;
} 

nav .apps-button {
    border-radius: 50%;
    background: url('../Images/outline_apps_black_24dp.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

nav .profile-button {
    border-radius: 50%;
    background: url('../Images/github_pic.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    
}


nav .apps-button:hover {
    background-color: rgba(60,64,67,0.08);
}


main {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.logo {
    display: flex;
    flex-direction: center;
    justify-content: center;

} 

.search {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    
}

.search-bar {
    border: hidden;
    height: 25px;
    flex:1;
    margin: auto 0 auto 0;
    
}
.search-bar-form {

    margin: auto 0 auto 0;
}

.search-bar:focus {
    border: none;
    outline: none;
}

.search-button-icon {
    height:25px;
    width: 25px;
    margin: auto 10px auto 10px;
    
}

.search-buttons {
    
    top: 50%;
    padding: 10px 15px 10px 15px;
    margin: auto;
    justify-content: center;
    margin: 20px 10px 0 0;
    background-color: var(--button-search-background);
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.search-buttons:hover {
    box-shadow: var(--hover-shadow);
    text-decoration: none;
}

.search-button-container {
    display: flex;
    justify-content: center;
}

.microphone-icon {
    width: 25px;
    height: 25px;
    text-align: right;
    margin: auto 10px auto 10px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
}

.search-bar-contents {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(60,64,67,0.08);
    border-radius: 24px;
    height:45px;
    width: 580px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-bar-contents:hover, .profile-button:hover {
    box-shadow: var(--hover-shadow);

}



footer {
    display: flex;
    background: #f2f2f2;
    width: 100%;
    flex-wrap: wrap;
    min-height: 40px;
}


footer div {
    padding:10px 0 0 0;
}

footer a {
    padding: 0 10px 0 10px;
}

footer div {
    display: flex;
}

footer .footer-left {
    
    margin-left: 20px;
    justify-content: flex-start;
    width: 50%;
}

footer .footer-right {
    text-align: right;
    justify-content: flex-end;
    margin: 0 20px auto auto; 
    width: 40%;
}




header, main, footer {
    flex-shrink: 0;
}



@media (max-width: 600px){ 
    

nav a {
    padding: 5px 5px 5px 5px;
}

nav .header-left {

    margin-left: 10px;
}

nav .header-right {

    margin-right: 10px;
}

.search-bar-contents  {
    width: 100%;
}

footer .footer-left, footer .footer-right, nav div {
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}




}






