html {
    --button-search-background: #f8f9fa;
    --hover-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    --font-color: rgb(60, 64, 67);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(60, 64, 67);
}







nav div {
    display: flex;
    width: 50%;
    padding: 10px;
    align-items: center;
}

nav div a {
    padding: 5px;
}






a {
    text-decoration: none;
    padding: 0, 20px, 0, 20px;
    color: inherit;
}

header{
    top:0;
    width: 100%;
    flex-direction: row;
    position: fixed;
    z-index: 1;
}
a:hover {
    text-decoration: underline;
    
}
nav {
    display: flex;
    height: 50px;
    align-items: center;
    
}
nav .header-left {
    justify-content: flex-start;
    width: 50%;
    margin-left: 20px;
}
nav .header-right {
    text-align: right;
    justify-content: flex-end;
    right: 0;
} 
.container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    background: #f2f2f2;
    width: 100%;
    flex-wrap: wrap;
    height: 40px;

}

footer div {
    padding:10px 0 0 0;
}

footer a {
    padding: 0 10px 0 10px;
}

.footer-left {
    margin-left: 20px;
}

.footer-right {
    text-align: right;
    justify-content: flex-end;
    margin: 0 50px auto auto;
}
.logo {
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin-top: 20%;

} 

main {
    justify-content: center;
    align-items: center;
}

.search {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    
}

.search-bar {
    border: hidden;
    height: 25px;
    flex:1;
    margin: auto 0 auto 0;
    
}
.search-bar-form {

    margin: auto 0 auto 0;
}

.search-bar:focus {
    border: none;
    outline: none;
}

.search-button-icon {
    height:25px;
    width: 25px;
    margin: auto 10px auto 10px;
    
}

.search-buttons {
    
    top: 50%;
    padding: 10px 15px 10px 15px;
    margin: auto;
    justify-content: center;
    margin: 20px 10px 0 0;
    background-color: var(--button-search-background);
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.search-buttons:hover {
    box-shadow: var(--hover-shadow);
    text-decoration: none;
}

.search-button-container {
    display: flex;
    justify-content: center;
}

.microphone-icon {
    width: 25px;
    height: 25px;
    text-align: right;
    margin: auto 10px auto 10px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
}

.search-bar-contents {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(60,64,67,0.08);
    border-radius: 24px;
    height:45px;
    width: 580px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 600px){ 
    .search-bar-contents  {
        width: 100%;
}
}




.search-bar-contents:hover {
    box-shadow: var(--hover-shadow);

}

.apps-button {
    border-radius: 50%;
    background: url('../Images/outline_apps_black_24dp.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    width: 20px;
    height: 20px;
}

#apps-button {
    
    
}

.apps-button:hover {
    background-color: rgba(60,64,67,0.08);
}